In [1]:
#System Lib
import os
from datetime import datetime

# Third party Lib
import pandas as pd
print(os.getcwd())

/home/ryefoxlime/ds_NitinKausikRemella

# Data Import

In [2]:
fear_csv = pd.read_csv("csv_files/fear_greed_index.csv")
historical_data = pd.read_csv("csv_files/historical_data.csv")

In [3]:
def info(data: pd.DataFrame):
    display(f"First 5 rows of dataset:")
    display(data.head())
    print(f"Shape in the dataset: \n {data.shape}")
    print(f"Number of rows in the data: \n {data.shape[0]}")
    print(f"Number of Columns in the data: \n {data.shape[1]}")
    print(f"Number of missing values: \n {data.isna().sum()}")
    print("Statistical of the dataset:")
    display(data.describe())
    print("Info about the data")
    print(f"{data.info()} \n")
    print(f"Unique values in each column: \n {[f"Idx {idx}, {uv}: {data[uv].nunique()}" for idx, uv in enumerate(data.columns) ]}")

Handling Historical Data

In [4]:
historical_data_copy = historical_data.copy()

In [5]:
info(historical_data_copy)

'First 5 rows of dataset:'

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12

Shape in the dataset:
 (211224, 16)
Number of rows in the data:
 211224
Number of Columns in the data:
 16
Number of missing values:
 Account             0
Coin                0
Execution Price     0
Size Tokens         0
Size USD            0
Side                0
Timestamp IST       0
Start Position      0
Direction           0
Closed PnL          0
Transaction Hash    0
Order ID            0
Crossed             0
Fee                 0
Trade ID            0
Timestamp           0
dtype: int64
Statistical of the dataset:

,Execution Price,Size Tokens,Size USD,Start Position,Closed PnL,Order ID,Fee,Trade ID,Timestamp
count,211224.000000,2.112240e+05,2.112240e+05,2.112240e+05,211224.000000,2.112240e+05,211224.000000,2.112240e+05,2.112240e+05
mean,11414.723350,4.623365e+03,5.639451e+03,-2.994625e+04,48.749001,6.965388e+10,1.163967,5.628549e+14,1.737744e+12
std,29447.654868,1.042729e+05,3.657514e+04,6.738074e+05,919.164828,1.835753e+10,6.758854,3.257565e+14,8.689920e+09
min,0.000005,8.740000e-07,0.000000e+00,-1.433463e+07,-117990.104100,1.732711e+08,-1.175712,0.000000e+00,1.680000e+12
25%,4.854700,2.940000e+00,1.937900e+02,-3.762311e+02,0.000000,5.983853e+10,0.016121,2.810000e+14,1.740000e+12
50%,18.280000,3.200000e+01,5.970450e+02,8.472793e+01,0.000000,7.442939e+10,0.089578,5.620000e+14,1.740000e+12
75%,101.580000,1.879025e+02,2.058960e+03,9.337278e+03,5.792797,8.335543e+10,0.393811,8.460000e+14,1.740000e+12
max,109004.000000,1.582244e+07,3.921431e+06,3.050948e+07,135329.090100,9.014923e+10,837.471593,1.130000e+15,1.750000e+12

Info about the data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Account           211224 non-null  object
 1   Coin              211224 non-null  object
 2   Execution Price   211224 non-null  float64
 3   Size Tokens       211224 non-null  float64
 4   Size USD          211224 non-null  float64
 5   Side              211224 non-null  object
 6   Timestamp IST     211224 non-null  object
 7   Start Position    211224 non-null  float64
 8   Direction         211224 non-null  object
 9   Closed PnL        211224 non-null  float64
 10  Transaction Hash  211224 non-null  object
 11  Order ID          211224 non-null  int64
 12  Crossed           211224 non-null  bool
 13  Fee               211224 non-null  float64
 14  Trade ID          211224 non-null  float64
 15  Timestamp         211224 non-null  float64
dtypes: bool(1), float64(8), int64(1), object(6)
memory usage: 24.4+ MB
None

Unique values in each column:
 ['Idx 0, Account: 32', 'Idx 1, Coin: 246', 'Idx 2, Execution Price: 60162', 'Idx 3, Size Tokens: 59304', 'Idx 4, Size USD: 118493', 'Idx 5, Side: 2', 'Idx 6, Timestamp IST: 27977', 'Idx 7, Start Position: 196923', 'Idx 8, Direction: 12', 'Idx 9, Closed PnL: 90720', 'Idx 10, Transaction Hash: 101184', 'Idx 11, Order ID: 50555', 'Idx 12, Crossed: 2', 'Idx 13, Fee: 138802', 'Idx 14, Trade ID: 2810', 'Idx 15, Timestamp: 7']

In [6]:
historical_data_copy['Timestamp'] = pd.to_datetime(historical_data_copy['Timestamp'], unit='ms').dt.normalize()
historical_data_copy['Timestamp IST'] = pd.to_datetime(historical_data_copy['Timestamp IST'], format="mixed", dayfirst=True)
historical_data_copy = historical_data_copy.astype({'Side': 'category', 'Direction':'category'})

|Category	|Original Column	|Aggregation	|New Column Name (e.g.)|What It Tells You (The High-Level Summary)
|:-------------|:---------|:-----|:--------------|:------|
|Profit & Loss|closedPnL|mean|avg\_daily\_pnl |The average P&L per trade. (Was it a profitable day on average?)|
|Profit & Loss|closedPnL|sum|net\_daily\_pnl|The total money won or lost by all traders. (The day's net outcome).|
|Profit & Loss|closedPnL|std|pnl\_volatility|The swing/variance in P&L. (A high value means a ""casino"" day)."|
|Risk & Volume|Size USD|mean|avg\_trade\_value\_usd|(The leverage proxy) The average bet size in dollars. (Risk-taking).|
|Risk & Volume|Size USD|sum|total_volume_usd|The total dollar value of all trades. (The day's total market activity).|
|Risk & Volume|Size Tokens|mean|avg_trade_size_tokens|The average trade size in tokens. (Shows conviction in asset terms).|
|Participation|Account|nunique|active_traders|How many unique traders participated. (Broad or narrow market move?).|
|Participation|Fee|sum|total_daily_fees|Total fees paid. (A strong proxy for total activity and volume).|
|Trader Sentiment|Coin|lambda s: s.mode()[0]|top_coin|"The ""hot"" coin of the day."
|Trader Sentiment|Side|lambda s: s.mode()[0]|dominant_side|"The dominant action (""Buy"" or ""Sell"")."
|Trader Sentiment|Direction|lambda s: s.mode()[0]|dominant_direction|The dominant position direction.
|Trader Sentiment|Side|lambda s: (s == 'Buy').sum() / s.count()|buy_sell_ratio|"A nuanced measure of sentiment (e.g., 0.70 = 70% ""Buy"" trades)."
|Price Level|Execution Price|mean|avg_exec_price|The average price level where trades occurred.|

In [7]:
historical_data_ref = historical_data_copy.groupby(['Timestamp'])\
    .agg(avg_daily_pnl=('Closed PnL', 'mean'), 
         net_daily_pnl=('Closed PnL', 'sum'), 
         pnl_volatility=('Closed PnL', 'std'), 
         avg_trade_value_usd=('Size USD', 'mean'), 
         total_trade_volume_usd=('Size USD', 'sum'), 
         avg_trade_size_tokens=('Size Tokens', 'mean'), 
         active_traders=('Account', 'nunique'), 
         total_daily_fees=('Fee', 'sum'), 
         top_coin=('Coin', lambda s: s.mode()[0]), 
         dominant_side = ('Side', lambda s:s.mode()[0]),
         dominant_direction = ('Direction', lambda s: s.mode()[0]),
         buy_sell_ratio = ('Side', lambda s: (s == 'BUY').sum() / s.count()),
         avg_exec_price=('Execution Price', 'mean')).reset_index()

In [8]:
info(historical_data_ref)

'First 5 rows of dataset:'

,Timestamp,avg_daily_pnl,net_daily_pnl,pnl_volatility,avg_trade_value_usd,total_trade_volume_usd,avg_trade_size_tokens,active_traders,total_daily_fees,top_coin,dominant_side,dominant_direction,buy_sell_ratio,avg_exec_price
0,2023-03-28,0.000000,0.000000e+00,0.000000,159.000000,4.770000e+02,0.083767,1,0.000000,ETH,BUY,Open Long,1.000000,1898.133333
1,2023-11-14,0.148807,1.555034e+02,105.092113,11057.827522,1.155543e+07,2566.212438,2,2794.570654,ETH,SELL,Open Long,0.469856,10454.871036
2,2024-03-09,25.418772,1.769655e+05,306.166937,5660.265764,3.940677e+07,48736.443323,5,6812.781233,ETH,SELL,Close Long,0.484200,9771.897315
3,2024-07-03,22.229713,1.587424e+05,633.704815,3058.848110,2.184323e+07,1967.302964,8,8743.877486,ETH,SELL,Open Short,0.490828,2663.132338
4,2024-10-27,90.504272,3.189461e+06,1165.052548,2949.625864,1.039478e+08,2222.400863,29,21539.462735,@107,SELL,Sell,0.423569,5367.503277

Shape in the dataset:
 (7, 14)
Number of rows in the data:
 7
Number of Columns in the data:
 14
Number of missing values:
 Timestamp                 0
avg_daily_pnl             0
net_daily_pnl             0
pnl_volatility            0
avg_trade_value_usd       0
total_trade_volume_usd    0
avg_trade_size_tokens     0
active_traders            0
total_daily_fees          0
top_coin                  0
dominant_side             0
dominant_direction        0
buy_sell_ratio            0
avg_exec_price            0
dtype: int64
Statistical of the dataset:

,Timestamp,avg_daily_pnl,net_daily_pnl,pnl_volatility,avg_trade_value_usd,total_trade_volume_usd,avg_trade_size_tokens,active_traders,total_daily_fees,buy_sell_ratio,avg_exec_price
count,7,7.000000,7.000000e+00,7.000000,7.000000,7.000000e+00,7.000000,7.000000,7.000000,7.000000,7.000000
mean,2024-06-16 06:51:25.714285824,27.286990,1.470994e+06,556.726811,5664.834996,1.701696e+08,9060.536744,14.571429,35122.531509,0.556162,9272.808622
min,2023-03-28 00:00:00,0.000000,0.000000e+00,0.000000,159.000000,4.770000e+02,0.083767,1.000000,0.000000,0.423569,1898.133333
25%,2024-01-11 00:00:00,1.404275,3.593243e+04,205.629525,3004.236987,1.669933e+07,2094.851913,3.500000,4803.675944,0.477028,4015.317807
50%,2024-07-03 00:00:00,22.229713,1.587424e+05,633.704815,5259.977837,3.940677e+07,2566.212438,8.000000,8743.877486,0.490828,9771.897315
75%,2024-12-23 12:00:00,37.733197,1.683213e+06,843.535633,8359.046643,2.071115e+08,3965.656926,27.000000,41244.223787,0.512340,10778.464507
max,2025-06-15 00:00:00,90.504272,6.699925e+06,1165.052548,11508.299879,7.041585e+08,48736.443323,32.000000,145018.043618,1.000000,23652.065078
std,NaN,33.244296,2.581232e+06,433.167866,4240.128294,2.589642e+08,17554.839020,13.525989,52764.403487,0.198331,7360.713241

Info about the data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Timestamp               7 non-null      datetime64[ns]
 1   avg_daily_pnl           7 non-null      float64
 2   net_daily_pnl           7 non-null      float64
 3   pnl_volatility          7 non-null      float64
 4   avg_trade_value_usd     7 non-null      float64
 5   total_trade_volume_usd  7 non-null      float64
 6   avg_trade_size_tokens   7 non-null      float64
 7   active_traders          7 non-null      int64
 8   total_daily_fees        7 non-null      float64
 9   top_coin                7 non-null      object
 10  dominant_side           7 non-null      category
 11  dominant_direction      7 non-null      category
 12  buy_sell_ratio          7 non-null      float64
 13  avg_exec_price          7 non-null      float64
dtypes: category(2), datetime64[ns](1), float64(9), int64(1), object(1)
memory usage: 1.3+ KB
None

Unique values in each column:
 ['Idx 0, Timestamp: 7', 'Idx 1, avg_daily_pnl: 7', 'Idx 2, net_daily_pnl: 7', 'Idx 3, pnl_volatility: 7', 'Idx 4, avg_trade_value_usd: 7', 'Idx 5, total_trade_volume_usd: 7', 'Idx 6, avg_trade_size_tokens: 7', 'Idx 7, active_traders: 7', 'Idx 8, total_daily_fees: 7', 'Idx 9, top_coin: 4', 'Idx 10, dominant_side: 2', 'Idx 11, dominant_direction: 5', 'Idx 12, buy_sell_ratio: 7', 'Idx 13, avg_exec_price: 7']

Fear Data analysis

In [15]:
fear_data_copy = fear_csv.copy()

In [16]:
info(fear_data_copy)

'First 5 rows of dataset:'

    timestamp  value classification        date
0  1517463000     30           Fear  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02
2  1517635800     40           Fear  2018-02-03
3  1517722200     24   Extreme Fear  2018-02-04
4  1517808600     11   Extreme Fear  2018-02-05

Shape in the dataset:
 (2644, 4)
Number of rows in the data:
 2644
Number of Columns in the data:
 4
Number of missing values:
 timestamp         0
value             0
classification    0
date              0
dtype: int64
Statistical of the dataset:

          timestamp        value
count  2.644000e+03  2644.000000
mean   1.631899e+09    46.981089
std    6.597967e+07    21.827680
min    1.517463e+09     5.000000
25%    1.574811e+09    28.000000
50%    1.631900e+09    46.000000
75%    1.688989e+09    66.000000
max    1.746164e+09    95.000000

Info about the data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2644 entries, 0 to 2643
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2644 non-null   int64
 1   value           2644 non-null   int64
 2   classification  2644 non-null   object
 3   date            2644 non-null   object
dtypes: int64(2), object(2)
memory usage: 82.8+ KB
None

Unique values in each column:
 ['Idx 0, timestamp: 2644', 'Idx 1, value: 90', 'Idx 2, classification: 5', 'Idx 3, date: 2644']

In [17]:
fear_data_copy['Timestamp'] = pd.to_datetime(fear_data_copy['timestamp'], unit='s').dt.normalize()
# historical_data_copy['Timestamp IST'] = pd.to_datetime(historical_data_copy['Timestamp IST'], format="mixed", dayfirst=True)
fear_data_copy = fear_data_copy.astype({'classification': 'category'})

In [18]:
fear_data_ref= fear_data_copy.groupby(['classification'])\
    .agg(volatility=('value', 'std'), 
         avg_value=('value', 'mean'), 
         Number_of_days=('Timestamp', 'count'), 
         start_date=('Timestamp', 'min'), 
         end_date=('Timestamp', 'max'))\
    .reset_index()

/tmp/ipykernel_12396/4064891912.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  fear_data_ref= fear_data_copy.groupby(['classification'])\

In [20]:
info(fear_data_ref)

'First 5 rows of dataset:'

  classification  volatility  avg_value  Number_of_days start_date   end_date
0   Extreme Fear    4.699441  18.273622             508 2018-02-02 2025-04-09
1  Extreme Greed    6.532657  82.116564             326 2019-05-11 2025-01-31
2           Fear    6.092182  34.184379             781 2018-02-01 2025-04-21
3          Greed    6.246282  65.846761             633 2018-02-14 2025-05-02
4        Neutral    2.645993  49.964646             396 2018-02-10 2025-05-01

Shape in the dataset:
 (5, 6)
Number of rows in the data:
 5
Number of Columns in the data:
 6
Number of missing values:
 classification    0
volatility        0
avg_value         0
Number_of_days    0
start_date        0
end_date          0
dtype: int64
Statistical of the dataset:

,volatility,avg_value,Number_of_days,start_date,end_date
count,5.000000,5.000000,5.000000,5,5
mean,5.243311,50.077195,528.800000,2018-05-09 09:36:00,2025-04-06 19:12:00
min,2.645993,18.273622,326.000000,2018-02-01 00:00:00,2025-01-31 00:00:00
25%,4.699441,34.184379,396.000000,2018-02-02 00:00:00,2025-04-09 00:00:00
50%,6.092182,49.964646,508.000000,2018-02-10 00:00:00,2025-04-21 00:00:00
75%,6.246282,65.846761,633.000000,2018-02-14 00:00:00,2025-05-01 00:00:00
max,6.532657,82.116564,781.000000,2019-05-11 00:00:00,2025-05-02 00:00:00
std,1.614837,25.195545,182.796882,NaN,NaN

Info about the data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   classification  5 non-null      category
 1   volatility      5 non-null      float64
 2   avg_value       5 non-null      float64
 3   Number_of_days  5 non-null      int64
 4   start_date      5 non-null      datetime64[ns]
 5   end_date        5 non-null      datetime64[ns]
dtypes: category(1), datetime64[ns](2), float64(2), int64(1)
memory usage: 549.0 bytes
None

Unique values in each column:
 ['Idx 0, classification: 5', 'Idx 1, volatility: 5', 'Idx 2, avg_value: 5', 'Idx 3, Number_of_days: 5', 'Idx 4, start_date: 5', 'Idx 5, end_date: 5']

In [21]:
fear_data_copy.to_csv('csv_files/fear_data_inter.csv')

# Elastic Net Prediction

In [ ]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

X = historical_data_ref[['pnl_volatility', 'avg_trade_value_usd', 'total_trade_volume_usd', 'active_traders', 'total_daily_fees', 'buy_sell_ratio', 'avg_exec_price']]
y = historical_data_ref['net_daily_pnl']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

elastic_net = ElasticNet(alpha=1.0, l1_ratio=0.5)
elastic_net.fit(X_train, y_train)

y_pred = elastic_net.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')